@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
	--lemon: #8eeda8;
}
*{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	text-transform: capitalize;
	transition: all .2s linear;
}

*::selection{
    background:var(--lemon);
    color:#333;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

html::-webkit-scrollbar{
	width: 1.4rm;
}

html::-webkit-scrollbar-trak{
	background: #222;
}

html::-webkit-scrollbar-thumb{
	background: var(--lemon);
}

body{
	background: #111;
	overflow-x: hidden;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 35rm;
	background: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	text-align: center;
}

header .user img{
	height: 17rem;
	width: 17rem;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
	border: .7rem solid var(--lemon);
}

header .user .name{
	font-size: 3.5rem;
	color: #fff;
}

header .user .post{
	font-size: 2rem;
	color: #eee;
}

header .navbar{
	width: 100%;
}

header .navbar ul{
	list-style: none;
	padding: 1rem 3rem;
}

header .navbar ul li a{
	display: block;
	padding: 1rem;
	margin: 1rem 0;
	background-color: #333;
	color: #fff;
	font-size: 2rem;
	border-radius: 5rem;
}